<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="ru"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8" lang="ru"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9" lang="ru"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="ru"> <!--<![endif]-->
<head prefix="og: http://ogp.me/ns#
				fb: http://ogp.me/ns/fb#
				product: http://ogp.me/ns/product#">
    <meta charset="utf-8">
    
        
    
    <title>Магазин Foto Buffer</title>
<meta name="keywords" content="">

    <link rel="alternate" hreflang="ru" href="https://fotobuffer.ru/cart"/>
    
    <script src="//api-maps.yandex.ru/2.1/?lang=ru-RU" type="text/javascript"></script>
    <script type="text/html" id='point-template'>
        <div class="cdec-info">
            <div class="point-info">
                Пункт самовывоза в г.<%= point.city %>: <%= point.name %>
            </div>
            <a class="cdec-link map-link" href="#" data-url="/cart/map" data-type="<%= type %>">
                Выбрать другой / посмотреть на карте
            </a>
        </div>
    </script>
    <style>
        @media all and (max-width: 1007px) {
            body.adaptive .__jivoMobileButton {
                opacity: 0.3;
            }
        }
    </style>

    

	<meta name="cmsmagazine" content="2b9b42bb3c4a2057d3f2cfcf21a18e80" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

	<meta name='yandex-verification' content='582ae8ac34d529bd' />
    <meta name="yandex-verification" content="c9e7fa1a4620ccef" />

	

	<link rel="stylesheet" href="/static/dist/css/1.5.1.all.css?v=3"/>
    <script type="application/javascript" src="/static/dist/js/1.5.1.all.js?v=3"></script>

    <link rel="stylesheet" href="/static/production/css/bills-2021.css"/>

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/favicon.png" type="image/png">
</head>
<body class="adaptive ">

<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter32733910 = new Ya.Metrika({
                    id:32733910,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true,
                    webvisor:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/32733910" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

<script type='text/javascript'>
  (function(){ var widget_id = 'YMu0Fc8R9a';var d=document;var w=window;function l(){
    var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = '//code.jivosite.com/script/widget/'+widget_id; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);}if(d.readyState=='complete'){l();}else{if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})();
</script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-109846146-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-109846146-1');
</script>

<style>
	iframe + div[id][class][style] {
		overflow: hidden !important;
		height: 0 !important;;
	}

	html[style] {
		margin-top: 0 !important;
	}
</style>
<script>
	$(function () {
		setInterval(function () {
			$('html').attr('style', '');
		}, 100);

		setInterval(function () {
            var $target = $('[title^="На этой странице"]');
            if ($target.length === 0) {
                $target = $('[data-spm-anchor-id]');
            }
            if ($target.length === 0) {
                $target = $('[title^="Бoлee выгодная"]');
            }
            if ($target.length === 0) {
                $target = $('[title*="нe пpoдaeтcя нa Яндeкc.Маpкeтe"]')
            }
            if ($target.length > 0) {
                $target.closest('[id]').remove();
            }
		}, 100);
	})
</script>

<script type="text/javascript">!function(){var t=document.createElement("script");t.type="text/javascript",t.async=!0,t.src="https://vk.com/js/api/openapi.js?162",t.onload=function(){VK.Retargeting.Init("VK-RTRG-408913-fuOCv"),VK.Retargeting.Hit()},document.head.appendChild(t)}();</script><noscript><img src="https://vk.com/rtrg?p=VK-RTRG-408913-fuOCv" style="position:fixed; left:-999px;" alt=""/></noscript>







<section id="wrapper">
    <header id="header">
    <section class="header-top">
        <a class="menu-close large-hide toggle-link" data-selector="body" data-toggle="menu-opened" href="#">&times;</a>
        <div class="row">
            <div class="column large-12">
                <div class="large-hide top-info">
                    <a class="top-phone" href="tel:+79260847284">
                        +7 (926) 084-72-84
                    </a>
                </div>
                <ul class="top-menu right">
                    
                        <li class="large-hide">
                            <a href="/user/login" class="a-inline">
                                Вход на сайт
                            </a>
                            <span class="top-a-delimiter">
                                /
                            </span>
                            <a href="/user/registration" class="a-inline">
                                Регистрация
                            </a>
                        </li>
                        <li class="medium-hide">
                            <a href="/user/login" class="mmodal">
                                Вход на сайт
                            </a>
                        </li>
                        <li class="medium-hide">
                            <a href="/user/registration" class="mmodal">
                                Регистрация
                            </a>
                        </li>
                    
                </ul>

                <ul class="top-menu left lined-menu">
                    
    <li class="">
        <a href="/page/o-magazine" >
            
                <span class="image-holder">
                    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="" class="inactive"/>
                </span>
            
            <span class="name">
                О магазине
            </span>
        </a>
        
    </li>

    <li class="">
        <a href="http://fotobuffer.ru/page/news" >
            
                <span class="image-holder">
                    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="" class="inactive"/>
                </span>
            
            <span class="name">
                Новости
            </span>
        </a>
        
    </li>

    <li class="">
        <a href="/page/stati" >
            
                <span class="image-holder">
                    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="" class="inactive"/>
                </span>
            
            <span class="name">
                Статьи
            </span>
        </a>
        
    </li>

    <li class="">
        <a href="/page/oplata" >
            
                <span class="image-holder">
                    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="" class="inactive"/>
                </span>
            
            <span class="name">
                Оплата
            </span>
        </a>
        
    </li>

    <li class="">
        <a href="/page/dostavka" >
            
                <span class="image-holder">
                    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="" class="inactive"/>
                </span>
            
            <span class="name">
                Доставка
            </span>
        </a>
        
    </li>

    <li class="">
        <a href="/guarantee" >
            
                <span class="image-holder">
                    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="" class="inactive"/>
                </span>
            
            <span class="name">
                Гарантия и возврат
            </span>
        </a>
        
    </li>

    <li class="">
        <a href="/contacts" >
            
                <span class="image-holder">
                    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="" class="inactive"/>
                </span>
            
            <span class="name">
                Контакты
            </span>
        </a>
        
    </li>

    <li class="">
        <a href="/page/optovikam" >
            
                <span class="image-holder">
                    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="" class="inactive"/>
                </span>
            
            <span class="name">
                Оптовикам
            </span>
        </a>
        
    </li>

    <li class="has-subitems ">
        <a href="#" >
            
                <span class="image-holder">
                    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="" class="inactive"/>
                </span>
            
            <span class="name">
                Прайс-лист
            </span>
        </a>
        
            <ul>
    <li class="">
        <a href="/pricelists/pricelist.html" rel="nofollow" >
            
            <span class="name">
                Онлайн (HTML)
            </span>
        </a>
        
    </li>

    <li class="">
        <a href="/pricelists/pricelist.pdf" >
            
            <span class="name">
                В формате PDF
            </span>
        </a>
        
    </li>

</ul>
        
    </li>


                </ul>
                
                <ul class="top-menu left info-social">
                    <li>
                        <a href="https://vk.com/xchesser_ru" target="_blank" rel="nofollow" title="Мы Вконтакте">
                            <i class="social-vk"></i>
                        </a>
                    </li>
                </ul>

                <div class="top-footer large-hide">
                    <div class="top-footer-item">
                        <div class="top-footer-label">
                            Мы Вконтакте
                        </div>
                        <div class="top-footer-value">
                            <a href="https://vk.com/xchesser_ru" rel="nofollow" target="_blank" class="under">
                                vk.com/xchesser_ru
                            </a>
                        </div>
                    </div>
                    <div class="top-footer-item">
                        <div class="top-footer-label">
                            E-mail для консультаций
                        </div>
                        <div class="top-footer-value">
                            <a href="mailto:order@fotobuffer.ru" class="under">
                                order@fotobuffer.ru
                            </a>
                        </div>
                    </div>
                    <div class="top-footer-item">
                        <div class="top-footer-label">
                            Viber, WhatsApp, Telegram
                        </div>
                        <div class="top-footer-value">
                            +7 (926) 084-72-84
                        </div>
                    </div>
                    <div class="top-footer-item">
                        <div class="top-footer-label">
                            Пункт самовывоза
                        </div>
                        <div class="top-footer-value">
                            <a href="/contacts">
                                Раменское, ул. Михалевича, 51а
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="header-inner">
        <div class="row">
            <div class="column large-12">
                <div class="main-line clearfix">
                    <a href="/recall" class="right order-call mmodal medium-hide">
                        <span class="text">
                            Заказать звонок
                        </span>
                    </a>

                    <a class="logo-link left medium-hide" href="/">
                        <img src="/static/dist/images/main/logo.png" alt=""/>
                    </a>

                    <div class="search-block left" data-search-block>
                        <form class="search-form" action="/catalog/search" autocomplete="off">
                            <a href="javascript:void(0);" class="search-form-close large-hide" data-search-toggle>
                                &times;
                            </a>
                            <button class="search-button right"></button>
                            <input type="search" name="search" autocomplete="off" placeholder="Поиск по сайту..."/>
                            <div class="ajax-data hide" id="ajax-data-search">

                            </div>
                        </form>
                    </div>

                    <a class="main-phone left medium-hide" href="tel:+79260847284">
                        +7 (926) 084-72-84
                    </a>
                </div>
                <div class="menu-line">
                    
                    <div class="cart-data-holder right">
                        <div id="cart-data">
                            <a href="javascript:void(0);" class="search-link" data-search-toggle>

                            </a>
                            <a class="cart-link" href="/cart/">
                                <span id="cart-count" class="right">
                                    0
                                </span>
                                <span id="cart-price">
                                    0
                                </span>
                                <span class="r">
                                    
                                        руб.
                                    
                                </span>
                            </a>
                        </div>


                        <a id="menu-opener" class="large-hide toggle-link" data-selector="body" data-toggle="menu-opened" href="#menu">
                            <i class="icon-listalt"></i>
                            Меню
                        </a>

                        <a class="logo-small large-hide" href="/">
                            <img src="/static/dist/images/main/logo-small.png" alt=""/>
                        </a>
                    </div>

                    <div class="menu-holder">
                        
                        <ul class="categories-menu main-menu justify">
                            
    <li class="has-subitems  root ">
        <a href="/catalog/naushniki" class="has-subitems root">
            
                <span class="image-holder">
                    <img src="/media/Goods/Category/2015-09-01/preview_28388ea49f54c5b8a31836b91bac844b_0.png" alt="" class="inactive"/>
                    <img src="/media/Goods/Category/2015-09-01/preview_6e875e8204902c1d0bdc0a811feed963_0.png" alt="" class="active"/>
                </span>
            
            <span class="name">
                Наушники
            </span>
        </a>
        
            <ul>
    <li class="  ">
        <a href="/catalog/naushniki/vnutrikanalnye" class="">
            
            <span class="name">
                Внутриканальные
            </span>
        </a>
        
    </li>

    <li class="  ">
        <a href="/catalog/naushniki/vkladyshi" class="">
            
            <span class="name">
                Вкладыши
            </span>
        </a>
        
    </li>

    <li class="  ">
        <a href="/catalog/naushniki/polnorazmernye" class="">
            
            <span class="name">
                Полноразмерные
            </span>
        </a>
        
    </li>
</ul>
        
    </li>

    <li class=" root ">
        <a href="/catalog/mp3-pleery" class="root">
            
                <span class="image-holder">
                    <img src="/media/Goods/Category/2015-09-01/preview_a2bbabfe7b1dd886a0c32b57bd8a94f9_0.png" alt="" class="inactive"/>
                    <img src="/media/Goods/Category/2015-09-01/preview_25b52484d0a34c6952dfcdd9ac7c3aed_0.png" alt="" class="active"/>
                </span>
            
            <span class="name">
                MP3-плееры
            </span>
        </a>
        
    </li>

    <li class="has-subitems  root ">
        <a href="/catalog/usiliteli-i-tsapy" class="has-subitems root">
            
                <span class="image-holder">
                    <img src="/media/Goods/Category/2015-09-01/preview_34108b32931a28062abc82d78259a1fe_0.png" alt="" class="inactive"/>
                    <img src="/media/Goods/Category/2015-09-01/preview_12cd111316b5a365b28efb79988e139a_0.png" alt="" class="active"/>
                </span>
            
            <span class="name">
                Усилители и ЦАПы
            </span>
        </a>
        
            <ul>
    <li class="  ">
        <a href="/catalog/usiliteli-i-tsapy/portativnye" class="">
            
            <span class="name">
                Портативные
            </span>
        </a>
        
    </li>

    <li class="  ">
        <a href="/catalog/usiliteli-i-tsapy/statsionarnye" class="">
            
            <span class="name">
                Стационарные
            </span>
        </a>
        
    </li>
</ul>
        
    </li>

    <li class="has-subitems  root ">
        <a href="/catalog/aksessuary" class="has-subitems root">
            
                <span class="image-holder">
                    <img src="/media/Goods/Category/2015-09-01/preview_1673448ee7064c989d02579c534f6b66_0.png" alt="" class="inactive"/>
                    <img src="/media/Goods/Category/2015-09-01/preview_a219c0d0729a9c2e5b511081675460c9_0.png" alt="" class="active"/>
                </span>
            
            <span class="name">
                Аксессуары
            </span>
        </a>
        
            <ul>
    <li class="has-subitems   ">
        <a href="/catalog/aksessuary/dlya-pleerov" class="has-subitems ">
            
            <span class="name">
                Для плееров
            </span>
        </a>
        
            <ul>
    <li class="  ">
        <a href="/catalog/aksessuary/dlya-pleerov/karty-pamyati" class="">
            
            <span class="name">
                Карты памяти
            </span>
        </a>
        
    </li>

    <li class="  ">
        <a href="/catalog/aksessuary/dlya-pleerov/chekhly" class="">
            
            <span class="name">
                Чехлы и плёнки
            </span>
        </a>
        
    </li>

    <li class="  ">
        <a href="/catalog/aksessuary/dlya-pleerov/akkumulyatory-i-zaryadnye-ustroistva" class="">
            
            <span class="name">
                Аккумуляторы и зарядные устройства
            </span>
        </a>
        
    </li>

    <li class="  ">
        <a href="/catalog/aksessuary/dlya-pleerov/raznoe" class="">
            
            <span class="name">
                Разное
            </span>
        </a>
        
    </li>
</ul>
        
    </li>

    <li class="has-subitems   ">
        <a href="/catalog/aksessuary/dlya-naushnikov" class="has-subitems ">
            
            <span class="name">
                Для наушников
            </span>
        </a>
        
            <ul>
    <li class="  ">
        <a href="/catalog/aksessuary/dlya-naushnikov/nasadki-i-ambushyury" class="">
            
            <span class="name">
                Насадки и амбушюры
            </span>
        </a>
        
    </li>

    <li class="  ">
        <a href="/catalog/aksessuary/dlya-naushnikov/kabeli-i-perekhodniki" class="">
            
            <span class="name">
                Кабели и переходники
            </span>
        </a>
        
    </li>

    <li class="  ">
        <a href="/catalog/aksessuary/dlya-naushnikov/keisy" class="">
            
            <span class="name">
                Кейсы
            </span>
        </a>
        
    </li>

    <li class="  ">
        <a href="/catalog/aksessuary/dlya-naushnikov/podstavki" class="">
            
            <span class="name">
                Подставки
            </span>
        </a>
        
    </li>

    <li class="  ">
        <a href="/catalog/aksessuary/dlya-naushnikov/raznoe" class="">
            
            <span class="name">
                Разное
            </span>
        </a>
        
    </li>
</ul>
        
    </li>

    <li class="has-subitems   ">
        <a href="/catalog/aksessuary/dlya-usilitelei" class="has-subitems ">
            
            <span class="name">
                Для усилителей
            </span>
        </a>
        
            <ul>
    <li class="  ">
        <a href="/catalog/aksessuary/dlya-usilitelei/kabeli" class="">
            
            <span class="name">
                Кабели
            </span>
        </a>
        
    </li>

    <li class="  ">
        <a href="/catalog/aksessuary/dlya-usilitelei/krepleniya" class="">
            
            <span class="name">
                Крепления
            </span>
        </a>
        
    </li>
</ul>
        
    </li>

    <li class="  ">
        <a href="/catalog/aksessuary/prochee" class="">
            
            <span class="name">
                Прочие
            </span>
        </a>
        
    </li>
</ul>
        
    </li>

    <li class=" root ">
        <a href="/catalog/rasprodazha" class="root">
            
                <span class="image-holder">
                    <img src="/media/Goods/Category/2015-09-01/preview_e70b59714528d5798b1c8adaf0d0ed15_0.png" alt="" class="inactive"/>
                    <img src="/media/Goods/Category/2015-09-01/preview_3067929f4d1d691d810f0005321913c2_0.png" alt="" class="active"/>
                </span>
            
            <span class="name">
                Распродажа
            </span>
        </a>
        
    </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</header>
    <p class="clear"></p>
    <section id="main">
        <section id="content">
            
                
            

            <section class="content-header ">
                
    
        
        
                    
    <section class="row">
        <section class="column large-12">
            <nav class="breadcrumbs-container">
                <ul class="breadcrumb-list" >
                    <li>
                        <a href="/" title="">Главная</a>
                    </li>
                    
                        <li >&rarr; <span>Корзина</span></li>
                    
                </ul>
                <p class="clear"></p>
            </nav>
        </section>
    </section>

                
    


                <div class="heading">
                    <div class="row">
                        <div class="column large-12">
                            
    <h1>
        
            Корзина
        
    </h1>

                        </div>
                    </div>
                </div>
            </section>

            
                <section class="row">
                    <section class="content columns large-12">

                        
    <div class="hide" id="total-price-raw">0</div>

	

    <div class="cart-page">
		<div class="loading"></div>
        
        <div class="empty-cart" data-empty-cart>
            В вашей корзине ничего нет. <br/>
            Для оформления заказа положите товар в корзину.
        </div>
        
    </div>

                    </section>
                </section>
            

            
	<noindex>
	
	


</noindex>


            <p class="clear"></p>
        </section>
    </section>
    <p id="push"></p>
</section>

<section id="footer">
    <section id="footer-inner">
        <section class="row">
            
            <section class="column large-12">
                <ul class="footer-menu clearfix">
                    
    <li class="has-subitems ">
        <a href="http://fotobuffer.ru/catalog/naushniki" >
            
                <span class="image-holder">
                    <img src="/media/Main/Menu/2015-09-03/preview_edd443896ef5dbfceec3ecbd8a520fc4_0.png" alt="" class="inactive"/>
                </span>
            
            <span class="name">
                Наушники
            </span>
        </a>
        
            <ul>
    <li class="">
        <a href="http://fotobuffer.ru/catalog/naushniki/vnutrikanalnye" >
            
            <span class="name">
                Внутриканальные
            </span>
        </a>
        
    </li>

    <li class="">
        <a href="http://fotobuffer.ru/catalog/naushniki/vkladyshi" >
            
            <span class="name">
                Вкладыши
            </span>
        </a>
        
    </li>

    <li class="">
        <a href="http://fotobuffer.ru/catalog/naushniki/polnorazmernye" >
            
            <span class="name">
                Полноразмерные
            </span>
        </a>
        
    </li>

</ul>
        
    </li>

    <li class="">
        <a href="http://fotobuffer.ru/catalog/mp3-pleery" >
            
                <span class="image-holder">
                    <img src="/media/Main/Menu/2015-09-03/preview_a2bbabfe7b1dd886a0c32b57bd8a94f9_0.png" alt="" class="inactive"/>
                </span>
            
            <span class="name">
                MP3-плееры
            </span>
        </a>
        
    </li>

    <li class="has-subitems ">
        <a href="http://fotobuffer.ru/catalog/usiliteli-i-tsapy" >
            
                <span class="image-holder">
                    <img src="/media/Main/Menu/2015-09-03/preview_34108b32931a28062abc82d78259a1fe_0.png" alt="" class="inactive"/>
                </span>
            
            <span class="name">
                Усилители и ЦАПы
            </span>
        </a>
        
            <ul>
    <li class="">
        <a href="http://fotobuffer.ru/catalog/usiliteli-i-tsapy/portativnye" >
            
            <span class="name">
                Портативные
            </span>
        </a>
        
    </li>

    <li class="">
        <a href="http://fotobuffer.ru/catalog/usiliteli-i-tsapy/statsionarnye" >
            
            <span class="name">
                Стационарные
            </span>
        </a>
        
    </li>

</ul>
        
    </li>

    <li class="has-subitems ">
        <a href="http://fotobuffer.ru/catalog/aksessuary" >
            
                <span class="image-holder">
                    <img src="/media/Main/Menu/2015-09-03/preview_1673448ee7064c989d02579c534f6b66_0.png" alt="" class="inactive"/>
                </span>
            
            <span class="name">
                Аксессуары
            </span>
        </a>
        
            <ul>
    <li class="">
        <a href="http://fotobuffer.ru/catalog/aksessuary/dlya-pleerov" >
            
            <span class="name">
                Для плееров
            </span>
        </a>
        
    </li>

    <li class="">
        <a href="http://fotobuffer.ru/catalog/aksessuary/dlya-naushnikov" >
            
            <span class="name">
                Для наушников
            </span>
        </a>
        
    </li>

    <li class="">
        <a href="http://fotobuffer.ru/catalog/aksessuary/dlya-usilitelei" >
            
            <span class="name">
                Для усилителей
            </span>
        </a>
        
    </li>

    <li class="">
        <a href="http://fotobuffer.ru/catalog/aksessuary/prochee" >
            
            <span class="name">
                Прочие
            </span>
        </a>
        
    </li>

</ul>
        
    </li>

    <li class="has-subitems ">
        <a href="#" >
            
                <span class="image-holder">
                    <img src="/media/Main/Menu/2015-09-03/preview_01e33197684afd628ccf82a5ae4fd6ad_0.png" alt="" class="inactive"/>
                </span>
            
            <span class="name">
                Сервис и помощь
            </span>
        </a>
        
            <ul>
    <li class="">
        <a href="http://fotobuffer.ru/page/o-magazine" >
            
            <span class="name">
                О магазине
            </span>
        </a>
        
    </li>

    <li class="">
        <a href="http://fotobuffer.ru/page/news" >
            
            <span class="name">
                Новости
            </span>
        </a>
        
    </li>

    <li class="">
        <a href="http://fotobuffer.ru/page/stati" >
            
            <span class="name">
                Статьи
            </span>
        </a>
        
    </li>

    <li class="">
        <a href="http://fotobuffer.ru/page/oplata" >
            
            <span class="name">
                Оплата
            </span>
        </a>
        
    </li>

    <li class="">
        <a href="http://fotobuffer.ru/page/dostavka" >
            
            <span class="name">
                Доставка
            </span>
        </a>
        
    </li>

    <li class="">
        <a href="http://fotobuffer.ru/contacts" >
            
            <span class="name">
                Контакты
            </span>
        </a>
        
    </li>

</ul>
        
    </li>


                </ul>
            </section>
        </section>
    </section>
    <div class="large-hide text-center medium-footer">
        Foto Buffer &copy; 2024 <br/>
        <a href="/size_default">Полная версия</a>
    </div>
    <a class="non-adaptive" href="/size_mobile" rel="nofollow">
        Вы используете полную версию сайта. <span class="non-adaptive__link">Использовать адаптированную версию &rarr;</span>
    </a>
</section>


	<script>
		$(function () {
			setTimeout(function() {
				$.ajax({
					'data': {
						products: [13,332,103,93,108]
					},
					'url': "/update_products/info"
				});
			}, 2000);
		})
	</script>



    <script>
  $(function(){
    $('.related-slider').slick({
      accessibility: false,
      fade: true
    });

    if ($(window).width() > 1007) {
      $('.psticky').psticky({
        parent: '.row',
        top: 10
      });
    } else {
      $('.psticky').psticky({
        parent: '.row',
        bottom: 0,
        dimension: 'bottom'
      });
    }

    $(document).on('cart-updated', function(){
      window.location.reload();
    });

    $(document).on('lazy-order-success', function(){
      var $form = $('#order-form');
      var $input = $('<input type="hidden" name="lazy" value="1"/>');
      $form.append($input);
      document.createElement('form').submit.call($form[0]);
    });

    $(document).on('cart-new-product', function(){
      updateCart(true);
    });

    $(document).on('click', '.update-cart-link', function (e) {
      e.preventDefault();
      setLoading(true);
      var $link = $(this);
      $.ajax({
        url: $link.attr('href'),
        success: function () {
          updateCart(true);
        }
      });
      return false;
    });

    $(document).on('change', '.selector input', function(){
      var val = $(this).val();
      var pickup = $('.pickup-info');
      var delivery = $('.delivery-info');

      if (val == 1) {
        pickup.removeClass('hide');
        delivery.addClass('hide');
      } else {
        pickup.addClass('hide');
        delivery.removeClass('hide');
      }
    });



    var $index = $('#OrderForm_address_index');
    var $publicIndex = $('#public-index');
    var $publicIndexWrapper = $('#public-index-wrapper');
    var $deliveryPrice = $('#OrderForm_delivery_price');

    var $address_kladr = $('#OrderForm_address_kladr');
    var $address_street = $('#OrderForm_address_street');
    var $address_building = $('#OrderForm_address_building');
    var $address_flat = $('#OrderForm_address_flat');
    var $address_data = $('#OrderForm_address_data');

    var $deliverySelector = $('.delivery-selector');

    var $cdecStoreChoice = $('.delivery-select input[data-code="STORE"]');
    var $cdecMoscowStoreChoice = $('.delivery-select input[data-code="MOSCOW_STORE"]');
    var $cdecPostomatChoice = $('.delivery-select input[data-code="POSTOMAT"]');

    var $ourCourierChoice = $('.delivery-select input[data-code="MOSCOW_COURIER"]');

    var $boxberryStoreChoice = $('.delivery-select input[data-code="BOXBERRY"]');
    var $boxberryMoscowStoreChoice = $('.delivery-select input[data-code="MOSCOW_BOXBERRY"]');

    var $cdecCode = $('#OrderForm_cdec_point_code');
    var $cdecInfo = $('#OrderForm_cdec_point_info');

    var $boxberryCode = $('#OrderForm_boxberry_point_code');
    var $boxberryInfo = $('#OrderForm_boxberry_point_info');

    var pointTemplate = _.template($('#point-template').html());

    window.cdecStores = [];
    window.cdecPostomates = [];
    window.cdecMoscowStores = [];

    window.boxberryStores = [];
    window.boxberryMoscowStores = [];

    var sidebarSelector = '#cart-sidebar-data';
    var timer;

    function setGroupValueSafe(group)
    {
      if (!$(group + ' .group-item-block:visible input:checked').length) {
        var first = $(group + ' .group-item-block:visible input[type="radio"]').first();
        $(first).prop('checked', true).trigger('change');
      }
    }

    function updateCartInternal(withList, savePoints)
    {
      var $form = $('#order-form');

      if (!savePoints) {
          updatePointsInfo('STORE', function(points){
            if ($cdecStoreChoice.is(":checked")) {
              setFirstPoint(points, 'STORE');
            }
          });
          updatePointsInfo('MOSCOW_STORE', function(points){
            if ($cdecMoscowStoreChoice.is(":checked")) {
              setFirstPoint(points, 'MOSCOW_STORE');
            }
          });
          updatePointsInfo('POSTOMAT', function(points){
            if ($cdecPostomatChoice.is(":checked")) {
              setFirstPoint(points, 'POSTOMAT');
            }
          });
          updatePointsInfo('BOXBERRY', function(points){
            if ($boxberryStoreChoice.is(":checked")) {
              setFirstPoint(points, 'BOXBERRY');
            }
          });
          updatePointsInfo('MOSCOW_BOXBERRY', function(points){
            if ($boxberryMoscowStoreChoice.is(":checked")) {
              setFirstPoint(points, 'MOSCOW_BOXBERRY');
            }
          });
      }

      $.ajax({
        'url': $form.attr('action'),
        'type': 'post',
        'data': $form.serialize(),
        'success': function(data){

          var $page = $(data);

          if ($page.find('[data-empty-cart]').length > 0) {
            window.location.reload();
            return false;
          }

          $page.find('.group .delivery-price').each(function(){
            var $this = $(this);
            $('#' + $this.attr('id')).html($this.html());
          });

          $page.find('.group-item-block').each(function(){
            var $this = $(this);
            var $current = $("#" + $this.attr('id'));

            if ($this.hasClass('hidden')) {
              $current.addClass('hidden');
            } else {
              $current.removeClass('hidden');
            }
          });

          if (withList) {
            $('#products-table').replaceWith($page.find('#products-table'));
          }

          $page.find('.group').each(function(){
            var $this = $(this);
            var $current = $("[data-id='" + $this.attr('data-id') + "']");

            if ($this.hasClass('hidden')) {
              $current.addClass('hidden');
            } else {
              $current.removeClass('hidden');
            }
          }).promise().done( function(){
            unsetLoading();

            if ($page.find(sidebarSelector).length) {
              $(sidebarSelector).replaceWith($page.find(sidebarSelector));
            }
            $('#OrderForm_promo_code_errors').replaceWith($page.find('#OrderForm_promo_code_errors'));

            setGroupValueSafe('.delivery-select');
            setGroupValueSafe('.payment-selector');

            enableSubmit();
          });
        }
      })
    }

    function setLoading(allPage)
    {
      $(sidebarSelector).addClass('loading');
      if (allPage) {
        $('.cart-page').addClass('loading');
      }
    }

    function unsetLoading()
    {
      $(sidebarSelector).removeClass('loading');
      $('.cart-page').removeClass('loading');
    }

    function disableSubmit()
    {
      $('#submit-button').attr('disabled', 'disabled');
    }

    function enableSubmit()
    {
      $('#submit-button').removeAttr('disabled');
    }

    function showWorld()
    {
      var showed = true;
      var $prev = $('.world-prevention');
      if ($prev.hasClass('hide')) {
        showed = false;
      }
      $prev.removeClass('hide');
      if (!showed) {
        $prev.flash(3, 300);
        $('html, body').animate({
          scrollTop: $prev.offset().top - 20
        }, 500);
      }
    }

    function hideWorld()
    {
      $('.world-prevention').removeAttr('style').addClass('hide');
    }

    function updateCart(withList)
    {
      disableSubmit();
      setLoading();
      clearTimeout(timer);
      setTimeout(function(){
        updateCartInternal(withList);
      }, 500);
    }

    /**
     * CDEC доставка до склада и до постоматов
     */

    /**
     * При выборе нужных пунтов выводим информацию о пункте доставки
     */
    $cdecPostomatChoice.on('change', function(e){
      setFirstPoint(window.cdecPostomates, 'POSTOMAT');
      return e;
    });

    $cdecStoreChoice.on('change', function(e){
      setFirstPoint(window.cdecStores, 'STORE');
      return e;
    });

    $cdecMoscowStoreChoice.on('change', function(e){
      setFirstPoint(window.cdecMoscowStores, 'MOSCOW_STORE');
      return e;
    });

    $boxberryStoreChoice.on('change', function(e){
      setFirstPoint(window.boxberryStores, 'BOXBERRY');
      return e;
    });

    $boxberryMoscowStoreChoice.on('change', function(e){
      setFirstPoint(window.boxberryMoscowStores, 'MOSCOW_BOXBERRY');
      return e;
    });

    $ourCourierChoice.on('change', function(e) {

    });


    function setCurrentPoint(type, code, info)
    {
      if (type == 'BOXBERRY' || type == 'MOSCOW_BOXBERRY') {
        var prevCode = $boxberryCode.val();
        $boxberryCode.val(code);
        $boxberryInfo.val(info);
        if (prevCode != code) {
          updateCartInternal(false, true);
        }
      } else {
        $cdecCode.val(code);
        $cdecInfo.val(info);
      }
    }

    /**
     * Отображение информации о пункте доставки
     */
    function updatePointInfo(selectedPoint, type)
    {
      if (type == 'PVZ' || !type) {
        type = 'STORE';
      }
      var pointInfo = $('.code-' + type);
      var info = '';
      if (selectedPoint) {
        info = pointTemplate({
          'point': selectedPoint,
          'type': type
        });
      }
      pointInfo.html(info);
    }

    /**
     * Устанавливаем первый пункт в качестве выбранного по умолчанию
     */
    function setFirstPoint(points, type) {
      var selected = $cdecCode.val();
      if (type == "MOSCOW_BOXBERRY" || type == "BOXBERRY") {
        selected = $boxberryCode.val();
      }
      var selectedPoint = null;

      if (selected) {
        for (var key in points) {
          var point = points[key];
          if (point.code == selected) {
            selectedPoint = point;
          }
        }
        if (!selectedPoint) {
          selectedPoint = points[0];
        }
      } else {
        selectedPoint = points[0];
      }

      if (selectedPoint) {
        console.log(type, selectedPoint);
        setCurrentPoint(type, selectedPoint.code, selectedPoint.name + ', Адрес: ' + selectedPoint.address);
      }

      if (points.length > 0) {
        updatePointInfo(selectedPoint, type);
      } else {
        updatePointInfo(null, type);
      }
    }

    /**
     * Сохраняем точки в память
     */
    function setPointsInfo(points, type)
    {
      if (type == 'PVZ' || type == 'STORE') {
        window.cdecStores = points;
      } else if (type == 'MOSCOW_STORE') {
        window.cdecMoscowStores = points;
      } else if (type == 'MOSCOW_BOXBERRY') {
        window.boxberryMoscowStores = points;
      } else if (type == 'BOXBERRY') {
        window.boxberryStores = points;
      } else  {
        window.cdecPostomates = points;
      }
    }

    /**
     * Удаляем точки / информацию о пункте доставки
     */
    function unsetPointInfo(type)
    {
      if (type == 'PVZ' || type == 'STORE') {
        window.cdecStores = [];

        if ($cdecStoreChoice.is(":checked")) {
          $cdecCode.val('');
          $cdecInfo.val('');
          updatePointInfo(null, type);
        }

      } else if (type == 'MOSCOW_STORE') {
        window.cdecMoscowStores = [];

        if ($cdecMoscowStoreChoice.is(":checked")) {
          $cdecCode.val('');
          $cdecInfo.val('');
          updatePointInfo(null, type);
        }
      } else if (type == 'MOSCOW_BOXBERRY') {
        window.boxberryMoscowStores = [];

        if ($boxberryMoscowStoreChoice.is(":checked")) {
          $boxberryCode.val('');
          $boxberryInfo.val('');
          updatePointInfo(null, type);
        }
      } else if (type == 'BOXBERRY') {
        window.boxberryStores = [];

        if ($boxberryStoreChoice.is(":checked")) {
          $boxberryCode.val('');
          $boxberryInfo.val('');
          updatePointInfo(null, type);
        }
      } else  {
        window.cdecPostomates = [];

        if ($cdecPostomatChoice.is(":checked")) {
          $cdecCode.val('');
          $cdecInfo.val('');
          updatePointInfo(null, type);
        }
      }
    }

    /**
     * Получаем информацию о точках
     */
    function updatePointsInfo(type, callback)
    {
      var send_type = type ? type : 'STORE';
      var index = $index.val();
      if ((type == 'MOSCOW_STORE' || type == 'MOSCOW_BOXBERRY') && !index) {
        index = '101000';
      }
      if (index) {
        $.ajax({
          'url': "/cart/points",
          'type': 'get',
          'data': {
            'index': index,
            'type': send_type
          },
          'dataType': 'json',
          'success': function(data){
            if (data.points.length > 0) {
              setPointsInfo(data.points, type);
            } else {
              unsetPointInfo(type);
            }

            if (callback) {
              callback(data.points);
            }
          }
        })
      } else {
        unsetPointInfo();
      }
    }

    function clearIndexes()
    {
      $address_kladr.val("");
      clearIndex();
    }

    function setIndex(index) {
      $index.val(index);
      $publicIndex.html(index);
      $publicIndexWrapper.removeClass("hide");
    }

    function clearIndex() {
      $index.val("");
      $publicIndex.html("");
      $publicIndexWrapper.addClass("hide");
    }

    function checkWorld()
    {
      var index = $index.val();
      var kladr = $address_kladr.val();

      if (!index && !kladr.startsWith('77000000000')) {
        showWorld();
      } else {
        hideWorld();
      }
    }

    $("#OrderForm_address").suggestions({
      serviceUrl: "https://dadata.ru/api/v2",
      token: "1fb92e6ca6f84277941d3798c0d488e5a6bf0643",
      type: "ADDRESS",
      count: 5,
      /* Вызывается, когда пользователь выбирает одну из подсказок */
      onSelect: function(suggestion) {
        if (suggestion.data.postal_code) {
          setIndex(suggestion.data.postal_code);
        } else {
          clearIndex();
        }

        if (suggestion.data.kladr_id) {
          $address_kladr.val(suggestion.data.kladr_id);
        } else {
          $address_kladr.val("");
        }

        if (suggestion.data.street_with_type) {
          $address_street.val(suggestion.data.street_with_type);
        } else {
          $address_street.val("");
        }

        if (suggestion.data.house) {
          $address_building.val(suggestion.data.house);
        } else {
          $address_building.val("");
        }

        if (suggestion.data.flat) {
          $address_flat.val(suggestion.data.flat);
        } else {
          $address_flat.val("");
        }

        if (suggestion.data) {
          $address_data.val(JSON.stringify(suggestion.data));
        } else {
          $address_data.val("");
        }

        checkWorld();
        updateCart();
      },
      onSelectNothing: function(query){
        clearIndexes();
        checkWorld();
        updateCart();
      }
    }).on('blur', function(){
      var val = $(this).val();

      if (!val) {
        clearIndexes();
      }
      updateCart();
    });

    $('input[name="OrderForm[pay_method]"], input[name="OrderForm[delivery_method]"], input[name="OrderForm[delivery_type]"]').on('change', function(){
      updateCart();
    });

    $('.promo-button').on('click', function(e){
      e.preventDefault();
      updateCart();
      return false;
    });

    function setPrice(key, price)
    {
      $.ajax({
        url: "/cart/set_price",
        data: {
          key: key,
          price: price
        },
        type: 'post',
        success: function () {
          updateCart();
        }
      })
    }

    var priceTimer;
    function setPriceSafe(key, price)
    {
      clearTimeout(priceTimer);
      priceTimer = setTimeout(function(){
        setPrice(key, price)
      }, 500);
    }

    $(document).on('keyup', '.item-price-value', function() {
      var $this = $(this);
      setPriceSafe($this.data('key'), $this.val());
    });

    $(document).on('blur', '.item-price-value', function() {
      var $this = $(this);
      setPrice($this.data('key'), $this.val());
    });

    /** Set quantity */

    var quantities = {};
    function setQuantity(key, quantity)
    {
      if (quantities[key] != quantity) {
        $.ajax({
          url: "/cart/set_quantity",
          data: {
            key: key,
            quantity: quantity
          },
          type: 'post',
          success: function () {
            updateCart(true);
            quantities[key] = quantity;
          }
        })
      }
    }

    var quantityTimer;
    function setQuantitySafe(key, quantity)
    {
      clearTimeout(quantityTimer);
      quantityTimer = setTimeout(function(){
        setQuantity(key, quantity)
      }, 2500);
    }

    $(document).on('keyup', '.quantity-value', function() {
      var $this = $(this);
      setQuantitySafe($this.data('key'), $this.val());
    });

    $(document).on('blur', '.quantity-value', function() {
      var $this = $(this);
      setQuantity($this.data('key'), $this.val());
    });

    $(document).on('click', '.map-link', function(e) {
      e.preventDefault();
      var url = $(this).data('url');
      var type = $(this).data('type');
      var subType = $(this).data('sub');
      var defaultIndex = $(this).data('index');
      var active = $cdecCode.val();
      if (type == 'BOXBERRY') {
        active = $boxberryCode.val();
      }
      var index = $index.val();
      if (!index) {
        index = defaultIndex;
      }
      url += '?' + $.param({
        active: active,
        type: type,
        sub: subType,
        index: index
      });
      $('<a/>').attr('href', url).mmodal();
      updateCart();
      return false;
    });

    $(document).on('click', '.points-list .point-select-link', function(e){
      e.preventDefault();
      var $this = $(this);
      $('.points-list .point-select-link').removeClass('active');
      $('.baloon-map-cart .select-map').removeClass('selected');
      $('.baloon-map-cart .select-map[data-id="' + $this.data('id') + '"]').addClass('selected');

      setCurrentPoint($this.data('type'), $this.data('code'), $this.data('info'));
      updatePointInfo($this.data(), $this.data('type'));

      $this.addClass('active');

      $('.mmodal-close').click();
      return false;
    });

    $(document).on('click', '.baloon-map-cart .select-map', function(e){
      e.preventDefault();
      var $this = $(this);
      $('.points-list .point-select-link[data-id="' + $this.data('id') + '"]').click();
      return false;
    });

    setGroupValueSafe('.delivery-select');
    setGroupValueSafe('.payment-selector');

    /**
     * Проверки при первом рендере
     */
    updatePointsInfo('STORE', function(points){
      if ($cdecStoreChoice.is(":checked")) {
        setFirstPoint(points, 'STORE');
      }
    });
    updatePointsInfo('MOSCOW_STORE', function(points){
      if ($cdecMoscowStoreChoice.is(":checked")) {
        setFirstPoint(points, 'MOSCOW_STORE');
      }
    });
    updatePointsInfo('POSTOMAT', function(points){
      if ($cdecPostomatChoice.is(":checked")) {
        setFirstPoint(points, 'POSTOMAT');
      }
    });
    updatePointsInfo('BOXBERRY', function(points){
      if ($boxberryStoreChoice.is(":checked")) {
        setFirstPoint(points, 'BOXBERRY');
      }
    });
    updatePointsInfo('MOSCOW_BOXBERRY', function(points){
      if ($boxberryMoscowStoreChoice.is(":checked")) {
        setFirstPoint(points, 'MOSCOW_BOXBERRY');
      }
    });

    ymaps.ready(function() {
      var map = new ymaps.Map('pickup-map', {
        center: [55.560931, 38.251528],
        zoom: 15,
        controls: ['zoomControl', 'typeSelector', 'fullscreenControl']
      });
      map.behaviors.disable("scrollZoom");
      var placemark = new ymaps.Placemark([55.560931, 38.251528],
        {
          balloonContentHeader: "Пункт самовывоза",
          balloonContentBody: 'Московская область, город Раменское,<br/> ул. Михалевича, д. 51а'
        },
        {
          iconLayout: 'default#image',
          // Своё изображение иконки метки.
          iconImageHref: '/static/images/main/placemark.png',
          // Размеры метки.
          iconImageSize: [45, 60],
          iconImageOffset: [-23, -57]
        }
      );

      map.geoObjects.add(placemark);
    });

    $('.after.code-MOSCOW_COURIER').html('<div class="cdec-info"><a class="mmodal cdec-link" href="/cart/map-courier">Посмотреть зону доставки</a></div>');
  })
</script>


</body>
</html>
